$light-text-color: #010101;
$light-background: #f4f2f0;
$light-list-item: #e2d2ca;
$light-list-item-completed: #eaded9;

$dark-text-color: #ffffff;
$dark-background: #101b29;
$dark-list-item: #465a74;
$dark-list-item-completed: #304156;
