@import "src/style/colors";

.todo-list-item {
  color: $light-text-color;
  background-color: $light-list-item;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;

  .dark-theme &{
    color: $dark-text-color;
    background-color: $dark-list-item;
  }

  &[data-completed] {
    text-decoration: line-through;
    background-color: $light-list-item-completed;

    .dark-theme &{
      background-color: $dark-list-item-completed;
    }
  }
}
