@import "style/colors";
.app {
  color: $light-text-color;
  background-color: $light-background;
  display: flex;
  flex-direction: column;
  margin: 0;

  &.dark-theme{
    color: $dark-text-color;
    background-color: $dark-background;
  }

  .list-title {
    align-self: center;
  }
}

.progress {
  display: flex;
  align-self: center;
  align-items: center;
  height: 100vh;
  gap:30px;
}